<!-- ekahane eta holo reusable code gulor akta formate alada akta html fie a use
 kora hoise. eita ke amra extends korbo according to our need. 
 orthat ei pura html code ta amader sup_home.html and my_project.html a
 same pattern a thakar kotha silo kintu same pattern ta amra arekta file a niye
 shei file ta ke extend korlam-->

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% block title %}
  <!-- ei portion er code ta main html file a lekha ase. jehetu ai nav.html file ta akta template 
   or formate er moto behave kore tai ekhane main html file er block ta alada kore rakha hoyese -->
{% endblock %}


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="{%url 'sup_homepage'%}">Projects</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link" href="#">Applications</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{%url 'create_project_page'%}">Create Projects</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="{%url 'my_project_list_page'%}">My Projects</a>
         </li>
         {% block showUser %}
           
         {% endblock %}
       </ul>
     </div>
   </nav>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
